@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Synonym', 'system-ui', 'sans-serif";
  }
}

@layer components {
  .container {
    @apply mx-auto mb-8 flex min-h-screen w-11/12 flex-col justify-center rounded-3xl border-[1px] border-solid border-black/90 bg-gradient-to-tr from-violet-200/40 from-40% to-sky-300/30 pb-6 text-[#FFFFFF] text-opacity-95 shadow-2xl selection:bg-white selection:text-slate-900 lg:w-[750px] xl:w-[850px] 2xl:w-[950px];
  }

  .container-padding {
    @apply px-5 pt-12 sm:px-5 md:px-10 lg:px-14;
  }

  .blob-circle {
    @apply absolute right-[-10%] top-[20%] -z-10 motion-safe:animate-spin-slow lg:right-[5%] lg:top-[5%];
  }

  .sub-heading {
    @apply relative flex items-center px-5 pt-12 text-2xl font-semibold after:absolute after:left-[12rem] after:h-[0.125rem] after:w-24 after:bg-gradient-to-tr after:from-purple-900 after:to-white/80 sm:px-5 sm:after:w-48 md:px-10 md:text-4xl md:after:left-[13rem] lg:px-14 lg:text-4xl xl:after:left-[15rem];
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 md:px-20 xl:px-28;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-start justify-start;
  }

  .flexEnd {
    @apply flex items-end justify-end;
  }

  .bold-20 {
    @apply text-xl font-normal;
  }

  .regular-18 {
    @apply text-lg font-normal;
  }

  .regular-16 {
    @apply text-base font-normal;
  }

  .regular-14 {
    @apply text-sm font-normal;
  }

  .primary-btn {
    @apply mt-4 inline-flex items-center rounded-lg bg-gradient-to-bl from-purple-500 from-40% via-violet-600 via-60% to-sky-700 to-90% px-5 py-2.5 text-center text-sm font-medium text-white shadow-lg shadow-violet-500/50 transition-all delay-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-purple-300;
  }

  .border-one {
    @apply border-[1px] border-solid border-[#EAEAEA];
  }

  .exp-body {
    @apply relative flex flex-col rounded-xl p-6 hover:rounded-2xl hover:ring-2 hover:ring-neutral-400/30;
  }

  .exp-subtitle {
    @apply regular-14 my-2 break-words italic leading-4 text-slate-200/80;
  }

  .exp-title {
    @apply regular-18 mt-3 font-semibold capitalize first-letter:text-2xl first-letter:uppercase md:mt-2 md:text-xl;
  }

  .main-circle {
    @apply absolute right-[2%] top-[5%] aspect-auto h-16 w-16 rounded-full object-cover object-center sm:h-20 sm:w-20 md:right-[5%] md:top-[5%];
  }

  .input-text {
    @apply block w-full appearance-none border-0 border-b-2 border-[#B5B5B5] bg-transparent px-0 py-2.5 focus:outline-none focus:ring-0;
  }

  .label-text {
    @apply absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-lg text-slate-900/60 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-8 peer-focus:scale-105 peer-focus:font-medium;
  }

  .submit-btn {
    @apply regular-14 mb-2 me-2 inline-flex items-center gap-x-2 rounded-lg bg-gradient-to-br from-purple-600 to-blue-500 px-5 py-2.5 text-center font-semibold text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-violet-400;
  }

  .project-btn {
    @apply mb-2 mr-2 cursor-pointer rounded-lg bg-gradient-to-br from-[#924b97] to-blue-600 px-4 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-green-800;
  }
}
