@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,600;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: "Synonym', 'system-ui', 'sans-serif";
  }
}

@layer components {
  .container {
    @apply mx-auto mb-8 flex min-h-screen w-11/12 flex-col justify-center rounded-3xl bg-slate-200 pb-6 selection:bg-slate-500 selection:text-slate-900 lg:w-[750px] xl:w-[850px] 2xl:w-[950px];
  }

  .blob-circle {
    @apply absolute right-[-10%] top-[20%] -z-10 motion-safe:animate-spin-slow lg:right-[5%] lg:top-[5%];
  }

  .sub-heading {
    @apply relative flex items-center px-6 text-3xl font-semibold after:absolute after:left-[12rem] after:h-[0.125rem] after:w-24 after:bg-gradient-to-tr after:from-[#1d8cf8] after:to-[#DD2476] sm:after:w-48 md:text-4xl md:after:left-[13rem];
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 md:px-20 xl:px-28;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-start justify-start;
  }

  .flexEnd {
    @apply flex items-end justify-end;
  }

  .bold-20 {
    @apply text-xl font-normal;
  }

  .regular-18 {
    @apply text-lg font-normal;
  }

  .regular-16 {
    @apply text-base font-normal;
  }

  .regular-14 {
    @apply text-sm font-normal;
  }
}
